/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

.column {
    float: left;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}

#nav {
    width: 100%;
    float: left;
    margin: 1rem;
    padding: 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}
#nav ul {
    list-style: none;
    width: 800px; 
    margin: auto;
    padding: 0;
}
#nav li{
    float: left;
}
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #ccc;
}

#nav li:first-child a {
    border-left: 1px solid #ccc;
}

#nav li a:hover {
    color: #c00;
    background-color: #f2f2f2;
}

nav a:nth-child(even):hover{
    color: black;
    text-decoration-line: line-through;
    transform: rotate(-10deg);
}

nav a:nth-child(odd):hover {
    color: black;
    text-decoration-line: line-through;
    transform: rotate(10deg);
}

header, footer {
    border-top: .125rem solid #33658a;
    border-bottom: .125rem solid #33658a;
}

.container {
    display: flex;
    justify-content: space-around;
}

html{font-family: Arial, Helvetica, sans-serif;}

h1{letter-spacing: .5rem;
    font:Ultra-Regular ;
    text-align: center;


}

footer {
    text-align: right;
}
